{
  "useTabs": false,
  "tabWidth": 4,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^next$",
    "^next/",
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "@mui",
    
    "^@(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "printWidth": 120
}
